services:
    vue:
        build:
            context: .
            args:
                UID: ${UID:-1000}
                GID: ${GID:-1000}
        container_name: vue
        working_dir: /workspace
        volumes:
            - ./:/workspace
        ports:
            - "8080:8080"
        environment:
            - CHOKIDAR_USEPOLLING=true
            - WATCHPACK_POLLING=true
        tty: true

    api:
        image: node:lts
        container_name: json-server
        working_dir: /app
        volumes:
            - ./app/api:/app
        command: >
            sh -c "npx json-server --watch /app/database.json --host 0.0.0.0 --port 3000"
        ports:
            - "3000:3000"
